.login-container,
.register-container {
  margin: 2rem auto;
}

.login-container > h2,
.register-container > h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
}

.sign-up-btn,
.login-btn {
  text-align: center;
}
