{% extends 'base.html' %} {% block title %} Sign Up {% endblock %} {% block body %}
<div class="container register-container">
  <h2>Sign Up</h2>
  <form method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Example your username"
        name="username"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Example your email"
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <div class="mb-3">
      <label for="confirm-password" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        placeholder="Enter password again"
        name="confirm-password"
      />
    </div>
    <button type="submit" class="btn btn-primary sign-up-btn"">Sign Up</button>
  </form>
</div>
{%endblock%}
