{% extends "base.html" %} {% block title %}App Users{% endblock %} {% block body
%}

<table class="table table-secondary table-hover text-center">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Date Joined</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td scope="col">{{user.id}}</td>
      <td scope="col">{{user.username}}</td>
      <td scope="col">{{user.email}}</td>
      <td scope="col">{{user.date_joined}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
