{% extends "base.html" %} {% block title %}App Users{% endblock %} {% block body
%}

<table class="table table-light text-center">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Customer's Username</th>
      <th scope="col">Customer's Email</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Product Image</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td scope="col">{{order.id}}</td>
      <td scope="col">{{order.user.username}}</td>
      <td scope="col">{{order.user.email}}</td>
      <td scope="col">{{order.product.product_name}}</td>
      <td scope="col">{{order.product.discounted_price}}</td>
      <td scope="col">{{order.quantity}}</td>
      <td scope="col"> <img src="{{order.product.product_image}}" alt="{{order.product.product_name}}-img" style="height: 50px; width: 50px; border-radius: 2px;"></img></td>
      <td scope="col">{{order.status}}</td>
      <td scope="col"><a href="{{url_for('admin.update_status', order_id=order.id)}}">Update Status</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}